<div class="all-posts" *ngIf="!showModal && !editing">
    <h1>All Posts</h1>
    <button class="btn" (click)="showModal = !showModal">
        Add New Post
    </button>
    <br />
    <br />
    <app-posts (edit)="editHandler($event)"></app-posts>
</div>

<div class="add-form-container" *ngIf="showModal || editing">
    <header>Add New Post</header>
    <br>
    <hr />
    <br>
    <form [formGroup]="postForm" [postEdit]="postEdit">
        <div class="form-control">
            <label>Title
                <input type="text" formControlName="title" />
                <div *ngIf="titleControl.invalid && titleControl.touched">
                    <p class="err">Enter post title!</p>
                </div>
            </label>
            <label>Text
                <textarea class="textarea" formControlName="text"></textarea>
                <div *ngIf="textControl.invalid && textControl.touched">
                    <p class="err">Enter post text!</p>
                </div>
            </label>
        </div>
        <div class="btn-block">
            <button class="btn btn-submit" (click)="onSubmit($event)">Save</button>
            <button class="btn btn-cancel" (click)='exitForm()'>Cancel</button>
        </div>
    </form>
</div>