.post{
    padding: 10px 15px;
    background: rgba(204, 204, 204, 0.26);
    border: 1px solid #000;
    position: relative;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.like {
    background-color: red;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    position: relative;
    bottom: -5px;
    transform: rotate(-45deg);
    width: 15px;
    cursor: pointer;

    &:before,
    &:after {
        content: "";
        background-color: red;
        border-radius: 50%;
        height: 15px;
        position: absolute;
        width: 15px;
    }

    &:before {
        top: -10px;
        left: 0;
    }

    &:after {
        left: 10px;
        top: 0;
    }
}

.btn{
    min-width: 90px;
    padding: 5px 10px;
    background: #dfdfdf;
    border: 1px solid #505050;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    
    &:not(:last-child){
        margin: 0 15px 15px 0;
        
    }
}

.title{
    text-align: center;
    font-size: 18px;
}