<div class="post" *ngFor="let post of postsData; index as i">
    <div class="btn-block">
        <button class="btn" (click)="hendleEdit(post)">Edit</button>
        <button class="btn" (click)="hendleDelete(i)">Delete</button>
    </div>  

    <p class="title">{{post.title}}</p>
    <p>{{post.text}}</p>
    
    <div class="like-block">
        <span class="counter-likes">{{post.like}}</span>
        <span class="like" (click)="handleLike(i)"></span>
    </div>
    
    <app-comments [postId]="post.id" [comments]="post.comments"></app-comments>
</div>