.post{
    padding: 10px 15px;
    background: rgba(204, 204, 204, 0.26);
    border: 1px solid #000;
    position: relative;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .text{
        margin: 15px 0;
    }

    .title{
        text-align: center;
        font-size: 18px;
        word-wrap: break-word;
    }
}

.like {
    background-color: red;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    position: relative;
    bottom: -5px;
    transform: rotate(-45deg);
    width: 15px;
    cursor: pointer;

    &:before,
    &:after {
        content: "";
        background-color: red;
        border-radius: 50%;
        height: 15px;
        position: absolute;
        width: 15px;
    }

    &:before {
        top: -10px;
        left: 0;
    }

    &:after {
        left: 10px;
        top: 0;
    }
}

.date-edit, .date-creation{
    position: absolute;
    right: 15px;
    
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgb(230, 230, 230);
}

.date-edit{
    background: rgba(106, 255, 100, 0.486);
    top: 55px;
}

.date-creation{
    background: rgba(100, 123, 255, 0.486);
    top: 15px;
}

.like-block{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    max-width: 800px;
    margin: 0 auto 15px;
}