<div class="navigation">
    <div class="sorting">
        <p>Sort:</p>
        <button (click)="handlerSort('sortLikes')" class="btn">By likes</button>
        <button (click)="handlerSort('sortComments')" class="btn">By comments</button>
        <button (click)="handlerSort('sortEditing')" class="btn">By editing</button>
        <button (click)="handlerSort('sortCreating')" class="btn">By creating</button>
    </div>
    <div class="filtration">
        <form [formGroup]="selectionForm">
            <label for="comments"><input formControlName="comments" id="comments" type="checkbox"> Show commented posts</label><br>
            <label for="likes"><input formControlName="likes" id="likes" type="checkbox"> Show liked posts</label><br>
            <label for="edited"><input formControlName="edited" id="edited" type="checkbox"> Show edited posts</label>
        </form>
    </div>
</div>
<div class="post" *ngFor="let post of postsData">
    <div class="date">
        <span  class="date-creation">Date of creation: {{post.dateOfCreation | date: 'hh:mm:ss dd/MM/yyyy'}}</span>
        <span *ngIf="post.dateEdit" class="date-edit">Editing date: {{post.dateEdit | date: 'hh:mm:ss dd/MM/yyy'}}</span>
    </div>
    <div class="btn-block">
        <button class="btn" (click)="handlerEdit(post)">Edit</button>
        <button class="btn" (click)="handlerDelete(post.id)">Delete</button>
    </div>  
    <div class="content">
        <p class="title">{{post.title}}</p>
        <p class="text">{{post.text}}</p>
    </div>
    <div class="like-block">
        <span class="counter-likes">{{post.like}}</span>
        <span class="like" (click)="handlerLike(post)"></span>
    </div>
    <app-comments (newComment)="handlerComment()" [comments]="post.comments"></app-comments>
</div>